@model int

@{
    ViewBag.Title = "Not Found";
}

    <div class="alert alert-info">
        <h4 class="display-4"> 404 Error - Resource Not Found </h4>
        <p> @ViewBag.ErrorMessage </p>
        @*<p> Path: @ViewBag.Path </p>
        <p> QueryString: @ViewBag.QueryString </p>*@

    </div>

<a asp-controller="home" asp-action="index" class="btn btn-info">Home</a>

