@model EmployeeManagement.ViewModels.HomeDetailsViewModel

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details page";
}

    <h2>Page title: @Model.PageTitle</h2>
    <p>Name: @Model.Employee.Name </p>
    <p>Department: @Model.Employee.Department </p>

@section Scripts {
    <script src="~/js/script.js"></script>
}