@model IEnumerable<EmployeeManagement.Models.Employee>

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h2>List data</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var employee in Model)
            {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Department</td>
            </tr>
            }
        </tbody>
    </table>

</body>
</html>